<html>
  <head>
    <title>{{ it.title }}</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <div class="container">
      <div class="toolbar">
        <div id="search" class="search"></div>
      </div>

      {{ include "templates/menu.vto" }}

      <main class="main">
        {{ include "templates/breadcrumb.vto" }}

        <div class="body" {{ if it.content && it.pagefind }}data-pagefind-body{{ /if }}>
          {{ if !it.title }}
            <h1>{{ page.src.slug }}</h1>
          {{ /if }}

          {{ if content }}
            {{ content }}
          {{ else }}
            <p class="emptyState">The page <code>{{ url }}</code> is empty</p>
          {{ /if }}
        </div>
      </main>

      <footer class="body-footer">
        {{ if it.repo }}
          <a href="{{ repo.url }}/edit/main{{ repo.path }}{{ page.src.path }}{{ page.src.ext }}">Edit this page</a>
        {{ /if }}
        <hr>
        <p>Disclaimer: Unofficial Guide. Not affiliated with "Shiftpod" or "Advanced Shelter Systems, Inc". Use at your own risk. Trademarks are property of respective owners. For official information, visit Advanced Shelter Systems, Inc's website. Subject to change without notice.
        <p>The information and content presented on this Website are derived from publicly available sources, personal experiences, and other independent research. While we make reasonable efforts to ensure the accuracy and reliability of the information provided, we cannot guarantee its completeness, timeliness, or correctness. Users should be aware that the information may be subject to change and should independently verify any critical details before making any decisions based on the content of this Website.
      </footer>
    </div>
  </body>
</html>
